@using InterviewSathi.Web.Models.Entities.BlogsEntity
@model InterviewSathi.Web.Models.Entities.ApplicationUser

@{
    ViewData["Title"] = "MyProfile";
    var skills = ViewBag.Skills;
    var likes = ViewBag.like as List<LikeCount>;
    var blogs = ViewBag.Blogs;
}

<div class="container mt-4">
    <div class="row">
        <!-- Cover photo -->
        <div class="col-md-12">
            <img src="~/images/covers/@Model.CoverURL" class="img-fluid rounded" alt="Cover Photo">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-2">
            <!-- Profile picture -->
            <img src="~/images/Profiles/@Model.ProfileURL" class="rounded-circle img-thumbnail" width="150" height="150" alt="Profile Picture">
        </div>

        <div class="col-md-8 mt-3 text-dark p-3">
            <!-- User information -->
            <h2>
                @Model.Name  <span class="badge bg-dark">
                    @foreach (var role in ViewBag.Role)
                    {
                        @role
                    }
                </span>
            </h2>
            <p>@Model.Bio</p>
            <p>
                @foreach (var skill in skills)
                {
                    <span class="badge bg-dark">@skill.Skill.NameOfSkill</span>
                }
            </p>
            <!-- Button group with "Edit Profile" button -->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Options
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a asp-route-Id="@Model.Id" asp-action="ListUserSkill" asp-controller="Skill" class="dropdown-item">Profile Activity</a>
                    </li>
                    <li><a class="dropdown-item" asp-route-Id="@Model.Id" asp-action="Index" asp-controller="Friend">Friends</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form asp-area="" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="dropdown-item text-danger">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        @foreach (var item in blogs)
        {
            <div class="col">
                <div class="card">
                    <img src="~/Images/Blogs/@item.ImgPath" class="card-img-top" alt="Blog Image">
                    <div class="card-body">
                        <p class="card-text">@item.Content</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <!-- Like Button -->
                            <form class="likeForm" asp-action="Like" asp-controller="Blog">
                                <input name="BlogId" value="@item.Id" hidden />
                                <input name="UserId" value="@Model.Id" hidden />
                                @if (likes.Any(x => x.LikedBy == Model.Id && x.LikedBlog == item.Id))
                                {
                                    <button type="button" class="likedButton btn btn-primary mb-2 mb-md-0">
                                        <i class="fas fa-thumbs-up"></i> @item.LikeCount
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="likeButton btn btn-primary mb-2 mb-md-0">
                                        <i class="far fa-thumbs-up"></i> @item.LikeCount
                                    </button>
                                }
                            </form>
                            <!-- Comment Button -->
                            <a asp-action="Comment" asp-controller="Blog" asp-route-id="@item.Id" asp-route-backUrl="@Context.Request.Path" class="btn btn-secondary mb-2 mb-md-0">
                                <i class="far fa-comment"></i>
                            </a>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary mb-2 mb-md-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a asp-route-Id="@item.Id" asp-action="Edit" asp-controller="Blog" class="dropdown-item" data-ajax="true" data-ajax-method="get" data-ajax-update="#page" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        <i class="fas fa-edit"></i> Edit Blog
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-route-Id="@item.Id" asp-action="Delete" asp-controller="Blog" data-ajax="true" data-ajax-method="post" data-ajax-confirm="Are you sure?" data-ajax-complete="deletePage">
                                        <i class="fas fa-trash-alt"></i> Delete Blog
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" id="page">
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        deletePage = function (xhr) {
            location.reload();
        }
    });
</script>

<script>
    $(document).ready(function () {
        // Retrieve the like button state from local storage
        var likeButtonState = localStorage.getItem('likeButtonState');

        // Handling the click for .likeButton
        $(document).on("click", ".likeButton", function () {
            var likeButton = $(this);

            var formData = likeButton.closest("div").find(".likeForm").serialize();

            $.ajax({
                type: "POST",
                url: likeButton.closest("div").find(".likeForm").attr("action"),
                data: formData,
                success: function (result) {
                    var currentLikeCount = parseInt(likeButton.text().match(/\d+/)[0]);
                    likeButton.text("Liked " + (currentLikeCount + 1));

                    likeButton.removeClass("likeButton").addClass("likedButton");

                    // Save the updated state to local storage
                    localStorage.setItem('likeButtonState', 'liked');
                },
                error: function (error) {
                    console.error("Error submitting like:", error);
                }
            });
        });

        // Handling the click for .likedButton
        $(document).on("click", ".likedButton", function () {
            var likedButton = $(this);

            var formData = likedButton.closest("div").find(".likeForm").serialize();

            $.ajax({
                type: "POST",
                url: likedButton.closest("div").find(".likeForm").attr("action"),
                data: formData,
                success: function (result) {
                    var currentLikeCount = parseInt(likedButton.text().match(/\d+/)[0]);
                    likedButton.text("Like " + (currentLikeCount - 1));

                    likedButton.removeClass("likedButton").addClass("likeButton");

                    // Save the updated state to local storage
                    localStorage.setItem('likeButtonState', 'like');
                },
                error: function (error) {
                    console.error("Error submitting like:", error);
                }
            });
        });
    });

</script>