@model InterviewSathi.Web.Models.Entities.ApplicationUser

@{
    ViewData["Title"] = "User Profile";
    var blogs = ViewBag.Blogs;
    var skills = ViewBag.Skills;
    int count = ViewBag.Count;
}

<div class="container mt-4">
    <div class="row">
        <!-- Cover photo -->
        <div class="col-md-12">
            <img src="~/images/covers/@Model.CoverURL" class="opacity-75" height="200px" width="100%" alt="Cover Photo">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-2">
            <!-- Profile picture -->
            <img src="~/images/Profiles/@Model.ProfileURL" class="rounded-circle img-fluid" alt="Profile Picture">
        </div>

        <div class="col-md-8">
            <!-- User information -->
            <h2>
                @Model.Name - @foreach (var role in ViewBag.Role)
                {
                    @role
                }
            </h2>
            <p>@Model.Bio</p>
            <p>
            @foreach (var skill in skills)
            {
                @skill.Skill.NameOfSkill<span>,</span>
            }
            </p>
            <!-- Button group with "Edit Profile" button -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">

                    <span>Options</span>
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-route-Id="@Model.Id" asp-action="ListUserSkill" asp-controller="Skill">Send Message</a></li>
                    <li>
                        @if (count == 0)
                        {
                            <form asp-action="CreateFriend" asp-controller="Friend">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input name="sendBy" class="form-control" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()" hidden>
                                </div>
                                <div class="form-group">
                                    <input name="sendTo" class="form-control" value="@Model.Id" hidden>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Add Friend" class="dropdown-item" />
                                </div>
                            </form>
                        }
                        else
                        {
                            <form asp-action="DeleteFriend" asp-controller="Friend" asp-route-id="@ViewBag.FriendId" method="post" class="d-inline">
                                <button type="submit" class="dropdown-item">Unfriend</button>
                            </form>
                        }
                    </li>
                    <li><a class="dropdown-item" asp-route-Id="@Model.Id" asp-action="Create" asp-controller="Meeting">Schedule an Interview</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Timeline section -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        @foreach (var item in blogs)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <small class="justify-content-end align-items-end text-body-secondary">
                            @item.CreatedAt.Date.ToString("MMM") @Model.CreatedAt.Year
                        </small><br />
                        @item.Content
                    </div>
                    @if (item.ImgPath != null)
                    {
                        <img src="~/Images/Blogs/@item.ImgPath" class="card-img-top" height="250px" width="100%"/>
                    }
                    <div class="d-md-flex justify-content-between align-items-center">
                        <button class="btn btn-primary mb-2 mb-md-0" style="width: 50%;">Like (@item.LikeCount)</button>
                        <a asp-action="Comment" asp-controller="Blog" asp-route-id="@item.Id" asp-route-backUrl="@Context.Request.Path" class="btn btn-secondary" style="width: 50%;">Comment</a>
                    </div>
                </div>
            </div>
        }
    </div>


</div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" id="page">
    </div>
</div>

<script>
    $(document).ready(function () {
        deletePage = function (xhr) {
            location.reload();
        }
    });
</script>