@using InterviewSathi.Web.Models.Entities.BlogsEntity
@model InterviewSathi.Web.Models.Entities.ApplicationUser

@{
    ViewData["Title"] = "User Profile";
    var blogs = ViewBag.Blogs;
    var skills = ViewBag.Skills;
    var likes = ViewBag.like as List<LikeCount>;
    int count = ViewBag.Count;
    string myId = @User.FindFirstValue(ClaimTypes.NameIdentifier).ToString();
    string imgurl = Model.CoverURL;

}

<style>
    .cover-photo {
        background-image: url('@Url.Content($"~/images/covers/{imgurl}")');
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }

    .profile-info {
        position: relative;
        z-index: 1;
        margin-top: 200px;
    }

    .card {
        border-radius: 0px 30px 0 20px;
    }

    .blog-image {
        border-radius: 25px;
    }
</style>

<div class="container m-4">

    <div class="cover-photo" style=""></div>

    <div class="row profile-info">
        <!-- Profile picture -->
        <div class="col-md-3">
            <img src="~/images/Profiles/@Model.ProfileURL" class="rounded-circle img-fluid" width="250" height="150" alt="Profile Picture">
        </div>


        <div class="col-md-8 mt-3 text-dark p-3">
            <!-- User information -->
            <h2>
                @Model.Name @foreach (var role in ViewBag.Role)
                {
                    <span class="badge bg-secondary">@role</span>    
                }
            </h2>
            <p>
                <div>@Model.Bio</div>
                @foreach (var skill in skills)
                {
                    <span class="badge bg-secondary">@skill.Skill.NameOfSkill</span>
                }
            </p>
            <!-- Button group with "Edit Profile" button -->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="optionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Options
                </button>
                <ul class="dropdown-menu" aria-labelledby="optionsDropdown">
                    <li><a class="dropdown-item" asp-route-id="@myId" asp-route-chat="@Model.Id" asp-action="Index" asp-controller="Chat">Send Message</a></li>
                    @if (count == 0)
                    {
                        <li>
                            <form asp-action="CreateFriend" asp-controller="Friend">
                                <input name="sendBy" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()" hidden>
                                <input name="sendTo" value="@Model.Id" hidden>
                                <button type="submit" class="dropdown-item">Add Friend</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <form asp-action="DeleteFriend" asp-controller="Friend" asp-route-id="@ViewBag.FriendId" method="post" class="d-inline">
                                <button type="submit" class="dropdown-item">Unfriend</button>
                            </form>
                        </li>
                    }
                    <li><a class="dropdown-item" asp-route-Id="@Model.Id" asp-action="Create" asp-controller="Meeting">Schedule an Interview</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


@foreach (var item in blogs)
{
    var wordCount = item.Content.Split(new char[] { ' ', '\n' }, StringSplitOptions.RemoveEmptyEntries).Length;
    var minutesToRead = (int)Math.Ceiling((double)wordCount / 200);

    <div class="blog-card row mb-4">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow rounded-5">
                <div class="card-body">
                    <div class="row">

                        <div class="col author-info">
                            <div class="d-flex align-items-start">
                                <img class="rounded-circle me-3 avatar" src="~/images/Profiles/@item.User.ProfileURL" alt="avatar" width="60" height="60" />
                                <div>
                                    <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.User.Id" class="text-decoration-none">
                                        <h6 class="fw-bold text-black mb-1">@item.User.Name</h6>
                                    </a>

                                    <p class="text-muted small mb-0">@item.CreatedAt.ToString("MMM yyyy")</p>
                                    <p class="text-muted read-time">Read Time: @minutesToRead minutes</p>

                                </div>
                            </div>
                            <div class="card-text mt-3 content-preview">
                                <p class="fw-bolder">
                                    <a href="@Url.Action("Comment", "Blog", new { id = item.Id, backUrl = Context.Request.Path })" class="text-decoration-none text-black">
                                        @item.Title
                                    </a>
                                </p>

                                @Html.Raw(item.Content.Length > 300 ? item.Content.Substring(0, 300) + "..." : item.Content)
                                @if (item.Content.Length > 300)
                                {
                                    <a href="@Url.Action("Comment", "Blog", new { id = item.Id, backUrl = Context.Request.Path })" class="text-decoration-none">Continue</a>
                                }

                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(item.ImgPath))
                        {
                            <div class="col-md-6">
                                <img src="~/Images/Blogs/@item.ImgPath" class="card-img-top img-fluid blog-image" alt="Blog Image" />
                            </div>
                        }
                    </div>
                </div>
                <div class="card-footer bg-transparent d-flex justify-content-between align-items-center interaction-buttons">

                    <form class="likeForm" asp-action="Like" asp-controller="Blog">
                        <input name="BlogId" value="@item.Id" hidden />
                        <input name="UserId" value="@Model.Id" hidden />
                        @if (likes.Any(x => x.LikedBy == Model.Id && x.LikedBlog == item.Id))
                        {
                            <button type="button" class="likedButton btn btn-sm btn-outline-primary">Liked <span class="badge bg-secondary">@item.LikeCount</span></button>
                        }
                        else
                        {
                            <button type="button" class="likeButton btn btn-sm btn-outline-primary">Like <span class="badge bg-secondary">@item.LikeCount</span></button>
                        }
                    </form>
                    <a href="@Url.Action("Comment", "Blog", new { id = item.Id, backUrl = Context.Request.Path })" class="btn btn-sm btn-outline-dark">Comment</a>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Retrieve the like button state from local storage
        var likeButtonState = localStorage.getItem('likeButtonState');

        // Handling the click for .likeButton
        $(document).on("click", ".likeButton", function () {
            var likeButton = $(this);

            var formData = likeButton.closest("div").find(".likeForm").serialize();

            $.ajax({
                type: "POST",
                url: likeButton.closest("div").find(".likeForm").attr("action"),
                data: formData,
                success: function (result) {
                    var currentLikeCount = parseInt(likeButton.text().match(/\d+/)[0]);
                    likeButton.text("Liked " + (currentLikeCount + 1));

                    likeButton.removeClass("likeButton").addClass("likedButton");

                    // Save the updated state to local storage
                    localStorage.setItem('likeButtonState', 'liked');
                },
                error: function (error) {
                    console.error("Error submitting like:", error);
                }
            });
        });

        // Handling the click for .likedButton
        $(document).on("click", ".likedButton", function () {
            var likedButton = $(this);

            var formData = likedButton.closest("div").find(".likeForm").serialize();

            $.ajax({
                type: "POST",
                url: likedButton.closest("div").find(".likeForm").attr("action"),
                data: formData,
                success: function (result) {
                    var currentLikeCount = parseInt(likedButton.text().match(/\d+/)[0]);
                    likedButton.text("Like " + (currentLikeCount - 1));

                    likedButton.removeClass("likedButton").addClass("likeButton");

                    // Save the updated state to local storage
                    localStorage.setItem('likeButtonState', 'like');
                },
                error: function (error) {
                    console.error("Error submitting like:", error);
                }
            });
        });
    });

</script>