@using System.Security.Claims
@model InterviewSathi.Web.Models.Entities.Friend

@{

    ViewData["Title"] = "Create";
    var users = ViewBag.Users;
}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="col-md-6">
                <p >
                    <a asp-action="Index" asp-controller="Friend" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()" class="btn btn-outline-dark mb-3">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>
                    <span class="h4">Find Friends</span>
                </p>
            </div>
            <div class="col-md-6">
                <form asp-action="Create" asp-controller="Friend" method="get" class="mb-4 justify-items-end">
                    <div class="input-group">
                        <input name="searchUser" type="text" placeholder="Search by User Name" class="form-control" />
                        <button type="submit" class="btn btn-outline-dark">Search</button>
                    </div>
                </form>
            </div>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in users)
                    {
                        <tr>
                            <td>
                                <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@item.Id" class="text-decoration-none d-flex align-items-center">
                                    <img src="~/Images/Profiles/@item.ProfileURL" class="rounded-circle img-fluid me-2" alt="Profile Picture" height="40px" width="40px" />
                                    @item.Name
                                </a>
                            </td>
                            <td>
                                <form asp-action="Create">
                                    <input asp-for="SentBy" class="form-control" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()" hidden />
                                    <input asp-for="SentTo" class="form-control" value="@item.Id" hidden />
                                    <button type="submit" class="btn btn-outline-dark">Add Friend</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
