@model IEnumerable<InterviewSathi.Web.Models.Entities.Friend>

@{
    string loggedUser = User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString();
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <a asp-action="Create" asp-route-id="@loggedUser" class="btn btn-primary">Create new friends</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4 class="mb-4">New Requests</h4>
            @foreach (var item in Model.Where(x => x.Accepted == false && x.SentBy != loggedUser).OrderByDescending(x => x.CreatedAt))
            {
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            @if (loggedUser == item.SendingTo.Id)
                            {
                                <img src="~/Images/Profiles/@item.SendingBy.ProfileURL" class="rounded-circle" alt="Profile Picture" height="60" width="60" />
                            }
                            else
                            {
                                <img src="~/Images/Profiles/@item.SendingTo.ProfileURL" class="rounded-circle" alt="Profile Picture" height="60" width="60" />
                            }
                        </div>
                        <div>
                            <h5 class="card-title mb-0">@Html.DisplayFor(modelItem => item.SendingBy.Name)</h5>
                            <p class="card-text mb-0">@item.CreatedAt.ToString("MMM dd, yyyy")</p>
                        </div>
                        <div class="ms-auto">
                            <form asp-action="Edit" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-primary">Accept</button>
                            </form>
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="ms-2">
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>
                        </div>
                    </div>
                </div>
            }

            <h4 class="mb-4">Friends</h4>
            @foreach (var item in Model.Where(x => x.Accepted != false).OrderByDescending(x => x.CreatedAt))
            {
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            @if (loggedUser == item.SendingTo.Id)
                            {
                                <img src="~/Images/Profiles/@item.SendingBy.ProfileURL" class="rounded-circle" alt="Profile Picture" height="60" width="60" />
                            }
                            else
                            {
                                <img src="~/Images/Profiles/@item.SendingTo.ProfileURL" class="rounded-circle" alt="Profile Picture" height="60" width="60" />
                            }
                        </div>
                        <div>
                            @if (loggedUser == item.SendingTo.Id)
                            {
                                <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@item.SentBy" class="text-decoration-none">
                                    @Html.DisplayFor(modelItem => item.SendingBy.Name)
                                </a>
                            }
                            else
                            {
                                <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@item.SentTo" class="text-decoration-none">
                                    @Html.DisplayFor(modelItem => item.SendingTo.Name)
                                </a>
                            }                            
                            <p class="card-text mb-0">@item.CreatedAt.ToString("MMM dd, yyyy")</p>
                        </div>
                        <div class="ms-auto">
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-danger">Unfriend</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

