@using InterviewSathi.Web.Models.Entities
@using Microsoft.AspNetCore.Identity
@model InterviewSathi.Web.ViewModels.RegisterVM;
@inject SignInManager<ApplicationUser> signInManager


@{
    Layout = "_Login&SignUp";
    ViewData["Title"] = "Register";
}

@{
    var schemes = await signInManager.GetExternalAuthenticationSchemesAsync();
    var loginProviders = schemes.ToList();
}

<style>
    .login {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('@Url.Content("~/images/statics/signup.jpg")');
        background-size: cover;
        background-position: center;
    }

    .login-heading {
        font-weight: 300;
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }
</style>

<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            @if (loginProviders.Count() > 0)
                            {
                                <div class="">
                                    <div class="p-3 text-center">
                                        <section>
                                            <h3 class="login-heading mb-4 fw-bolder text-center">Get Started <br /> <span class="h5">Getting started is easy</span></h3>
                                            <form asp-controller="Account" asp-action="ExternalLogin"
                                                  asp-route-returnUrl="@ViewBag.ReturnUrl" method="post" role="form">
                                                <div>
                                                    <p>
                                                        @foreach (var provider in loginProviders)
                                                        {
                                                            <button type="submit" name="provider" value="@provider.Name" class="btn btn-outline-success text-black">
                                                                <i class="bi bi-google"></i>
                                                                @provider.Name
                                                            </button>
                                                        }
                                                    </p>
                                                </div>
                                            </form>
                                        </section>
                                    </div>
                                </div>
                            }
                            <h5 class="login-heading mb-4 text-center">Or continue with</h5>
                            <!-- Sign In Form -->
                            <form asp-action="Register" asp-controller="Account" enctype="multipart/form-data">
                                <input asp-for="RedirectUrl" value="@ViewBag.ReturnUrl" hidden />
                                <div class="form-group">
                                    <div class="mb-3 text-center">
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="radio" class="btn-check visually-hidden" asp-for="Role" value="Interviewer" id="option1" autocomplete="off" onchange="toggleDocumentInput()">
                                                <label class="btn btn-outline-dark w-100" for="option1">Expert</label>
                                            </div>
                                            <div class="col-6">
                                                <input type="radio" class="btn-check visually-hidden" asp-for="Role" value="Interviewee" id="option2" autocomplete="off" onchange="toggleDocumentInput()">
                                                <label class="btn btn-outline-dark w-100" for="option2">Beginner</label>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInputName" placeholder="Name" asp-for="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <label for="floatingInputName">Name</label>
                                </div>
                                
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <label for="floatingInput">Email address</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
                                    <button type="button" id="togglePassword" class="btn position-absolute me-1 end-0 top-50 translate-middle-y">
                                        <i class="bi bi-eye-slash"></i>
                                    </button>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="confirmFloatingPassword" placeholder="Confirm Password" asp-for="ConfirmPassword">
                                    <button type="button" id="toggleConfirmPassword" class="btn position-absolute me-1 end-0 top-50 translate-middle-y">
                                        <i class="bi bi-eye-slash"></i>
                                    </button>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <label for="confirmFloatingPassword">Confirm Password</label>
                                </div>
                                <div class="form-group mb-3" id="documentInputContainer" style="display: none;">
                                    <input asp-for="DocUpload" class="form-control" id="documentInput" required>
                                    <span id="errorMessage" style="display: none; color: red;">Document input is required!</span>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign Up</button>
                                    <div class="text-center">
                                        <p class="mt-3 mb-2" style="color: #393f81;">
                                            Already have an account?
                                            <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" style="color: #393f81;">Login here</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#togglePassword').click(function () {
            const passwordInput = $('#floatingPassword');
            const passwordFieldType = passwordInput.attr('type');
            if (passwordFieldType === 'password') {
                passwordInput.attr('type', 'text');
                $('#togglePassword i').removeClass('bi-eye-slash').addClass('bi-eye');
            } else {
                passwordInput.attr('type', 'password');
                $('#togglePassword i').removeClass('bi-eye').addClass('bi-eye-slash');
            }
        });
        $('#toggleConfirmPassword').click(function () {
            const passwordInput = $('#confirmFloatingPassword');
            const passwordFieldType = passwordInput.attr('type');
            if (passwordFieldType === 'password') {
                passwordInput.attr('type', 'text');
                $('#toggleConfirmPassword i').removeClass('bi-eye-slash').addClass('bi-eye');
            } else {
                passwordInput.attr('type', 'password');
                $('#toggleConfirmPassword i').removeClass('bi-eye').addClass('bi-eye-slash');
            }
        });
    });
</script>
<script>
    window.onload = function () {
        toggleDocumentInput();
    }

    function toggleDocumentInput() {
        var expertRadio = document.getElementById('option1');
        var documentInputContainer = document.getElementById('documentInputContainer');
        if (expertRadio.checked) {
            documentInputContainer.style.display = 'block';
            document.getElementById('documentInput').setAttribute('required', 'required');
        } else {
            documentInputContainer.style.display = 'none';
            documentInput.required = false;
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
