@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_Layout";
}

<style>
    .sidebar {
        background-color: #f8f9fa; 
        padding-top: 20px; 
        padding-bottom: 20px; 
    }

    .main-content {
        overflow-y: auto; 
        height: calc(100vh - 40px);
    }
</style>

<div class="container">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                <a asp-action="Index" asp-controller="Profile" asp-route-Id="@User.FindFirstValue(ClaimTypes.NameIdentifier).ToString()" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Home</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item mt-2">
                        <a class="text-decoration-none text-dark align-middle px-0" asp-route-Id="@User.FindFirstValue(ClaimTypes.NameIdentifier).ToString()" asp-action="ListUserSkill" asp-controller="Skill">
                            <i class="bi bi-clipboard-plus fs-4 me-2"></i><span class="ms-1">Skills</span>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="text-decoration-none text-dark align-middle px-0" asp-route-Id="@User.FindFirstValue(ClaimTypes.NameIdentifier).ToString()" asp-action="Index" asp-controller="Meeting">
                            <i class="bi bi-calendar2-event fs-4 me-2"></i><span class="ms-1">Meetings</span>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a asp-action="EditProfile" asp-controller="Profile" asp-route-Id="@User.FindFirstValue(ClaimTypes.NameIdentifier).ToString()" class="text-decoration-none text-dark align-middle px-0">
                            <i class="bi bi-house fs-4 me-2"></i><span class="ms-1">Edit Profile</span>
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var user = await SignInManager.UserManager.GetUserAsync(User);
                        if (user != null && await SignInManager.UserManager.HasPasswordAsync(user))
                        {
                            <li class="nav-item mt-2">
                                <a asp-action="ChangePassword" asp-controller="Account" class="text-decoration-none text-dark align-middle px-0">
                                    <i class="fa fa-cogs fs-4 me-2"></i><span class="ms-1">Password</span>
                                </a>
                            </li>
                        }
                    }
                    <li class="nav-item mt-2">
                        <a asp-route-Id="@User.FindFirstValue(ClaimTypes.NameIdentifier).ToString()" asp-action="Create" asp-controller="PlatformReview" class="text-decoration-none text-dark align-middle px-0">
                            <i class="fas fa-lightbulb fs-4 me-2"></i><span class="ms-1">Suggestion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3 main-content">
            @RenderBody()
        </div>
    </div>
</div>
