@using InterviewSathi.Web.ViewModels
@model IEnumerable<ExpertVM>
@{
    ViewData["Title"] = "Experts";
}
<style>
    .profile-img {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
</style>


<div class="container mt-5">
    <div class="row text-center align-items-center mb-4">
        <div class="col-md-6">
            <h1 class="display-3 fw-bold">Find Your Perfect Mentor</h1>
        </div>
        <div class="col-md-6">
            <form asp-action="Experts" asp-controller="Home" method="get">
                <div class="input-group">
                    <select asp-items="@ViewBag.skillList" name="searchSkill" class="form-select form-select-lg rounded-start">
                        <option value="" selected>Select a Skill</option>
                    </select>
                    <input name="searchName" type="text" placeholder="Search by User Name" class="form-control rounded-0">
                    <button type="submit" class="btn btn-primary btn-lg rounded-end">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        @foreach (var item in Model)
        {
            @if (item.UserId != User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString())
            {
                <div class="col">
                    <div class="card text-center shadow rounded">
                        <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@item.UserId" class="text-decoration-none text-dark">
                            @if (item.Profile != null)
                            {
                                <img src="~/Images/Profiles/@item.Profile" class="card-img-top rounded-top img-fluid profile-img" alt="Profile Picture">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@item.UserName</h5>
                                <p class="card-text">
                                    Skills:
                                    @foreach (var skill in item.Skills)
                                    {
                                        <span class="badge bg-primary">@skill.Skill.NameOfSkill</span>
                                    }
                                </p>
                            </div>
                        </a>
                        <div class="card-footer">
                            <a asp-action="Create" asp-controller="Meeting" asp-route-id="@item.UserId" class="btn btn-success">Schedule Meeting</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
