@using InterviewSathi.Web.Models.Entities
@using InterviewSathi.Web.Models.Entities.BlogsEntity
@model Blog;

@{
    ViewData["Title"] = "Comment";
    var comments = ViewBag.result as List<Comment>;
    var myId = ViewBag.MyId as ApplicationUser;
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <a href="@ViewBag.BackUrl" class="btn btn-outline-dark me-3">
                            <i class="bi bi-arrow-return-left"></i>
                        </a>
                        <img class="rounded-circle shadow-sm me-3" src="~/images/Profiles/@Model.User.ProfileURL" alt="avatar" width="60" height="60" />
                        <div>
                            <h6 class="fw-bold text-primary mb-1">@Model.User.Name</h6>
                            <p class="text-muted small mb-0">@Model.CreatedAt.Date.ToString("MMM") @Model.CreatedAt.Year</p>
                        </div>
                    </div>
                    <p class="mt-3 mb-4 pb-2">@Model.Content</p>
                    @if (Model.ImgPath != null)
                    {
                        <img src="~/Images/Blogs/@Model.ImgPath" class="img-fluid rounded" alt="Blog Image" />
                    }
                    <div class="card-footer py-3" style="background-color: #f8f9fa;">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle shadow-sm me-3" src="~/images/Profiles/@myId.ProfileURL" alt="avatar" width="40" height="40" />
                            <form asp-action="Comment" asp-controller="Blog" method="post" class="w-100">
                                <input name="UserId" value="@myId.Id" hidden />
                                <input name="BlogId" value="@Model.Id" hidden />
                                <input name="BackUrl" value="@ViewBag.BackUrl" hidden />
                                <textarea class="form-control" name="Content" rows="4" style="background: #fff;" required></textarea>
                                <div class="text-end mt-2">
                                    <button type="submit" class="btn btn-outline-dark">Post Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="max-height: 625px; overflow-y: auto;">
            @if (comments.Any())
            {
                foreach (var item in comments)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>@item.Content</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/Profiles/@item.User.ProfileURL" alt="avatar" width="25" height="25" class="rounded-circle me-2" />
                                    <p class="small mb-0">@item.User.Name</p>
                                </div>
                                @if (item.CommentBy == myId.Id || Model.User.Id == myId.Id)
                                {
                                    <form asp-action="DeleteComment" asp-controller="Blog" asp-route-id="@item.Id">
                                        <input name="BackUrl" value="@ViewBag.BackUrl" hidden />
                                        <button class="btn btn-outline-danger" type="submit">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <p>No Comments Yet</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



