@using System.Security.Claims
@using InterviewSathi.Web.Models.Entities
@using InterviewSathi.Web.Models.Entities.BlogsEntity
@model PaginatedList<InterviewSathi.Web.Models.Entities.BlogsEntity.Blog>

@{
    ViewData["Title"] = "Index";
    var likes = ViewBag.like as List<LikeCount>;
    var myProfile = ViewBag.MyProfile as ApplicationUser;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString();
}

@foreach (var item in Model)
{
    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow rounded-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle me-3" src="~/images/Profiles/@item.User.ProfileURL" alt="avatar" width="60" height="60" />
                        <div>
                            @if (item.User.Id == userId)
                            {
                                <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.User.Id" class="text-decoration-none">
                                    <h6 class="fw-bold text-black mb-1">@item.User.Name</h6>
                                </a>
                            }
                            else
                            {
                                <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@item.User.Id" class="text-decoration-none">
                                    <h6 class="fw-bold text-black mb-1">@item.User.Name</h6>
                                </a>
                            }
                            <p class="text-muted small mb-0">@item.CreatedAt.ToString("MMM yyyy")</p>
                        </div>
                    </div>
                    <p class="card-text mt-3">@item.Content</p>
                </div>
                @if (item.ImgPath != null)
                {
                    <img src="~/Images/Blogs/@item.ImgPath" class="card-img-top img-fluid" alt="Blog Image" />
                }
                <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
                    <form class="likeForm" asp-action="Like" asp-controller="Blog">
                        <input name="BlogId" value="@item.Id" hidden />
                        <input name="UserId" value="@userId" hidden />
                        @if (likes.Any(x => x.LikedBy == userId && x.LikedBlog == item.Id))
                        {
                            <button type="button" class="likedButton btn btn-sm btn-outline-primary">Liked <span class="badge bg-secondary">@item.LikeCount</span></button>
                        }
                        else
                        {
                            <button type="button" class="likeButton btn btn-sm btn-outline-primary">Like <span class="badge bg-secondary">@item.LikeCount</span></button>
                        }
                    </form>
                    <a asp-action="Comment" asp-controller="Blog" asp-route-id="@item.Id" asp-route-backUrl="@Context.Request.Path" class="btn btn-sm btn-outline-dark">Comment</a>
                </div>
            </div>
        </div>
    </div>
}


<div class="pagination justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageIndex - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageIndex + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
            }
        </ul>
    </nav>
</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Retrieving the like button state from local storage
        var likeButtonState = localStorage.getItem('likeButtonState');

        // Handling the click for .likeButton
        $(document).on("click", ".likeButton", function () {
            var likeButton = $(this);

            var formData = likeButton.closest("div").find(".likeForm").serialize();

            $.ajax({
                type: "POST",
                url: likeButton.closest("div").find(".likeForm").attr("action"),
                data: formData,
                success: function (result) {
                    var currentLikeCount = parseInt(likeButton.text().match(/\d+/)[0]);
                    likeButton.text("Liked " + (currentLikeCount + 1));

                    likeButton.removeClass("likeButton").addClass("likedButton");

                    // Saving the updated state to local storage
                    localStorage.setItem('likeButtonState', 'liked');
                },
                error: function (error) {
                    console.error("Error submitting like:", error);
                }
            });
        });

        // Handling the click for .likedButton
        $(document).on("click", ".likedButton", function () {
            var likedButton = $(this);

            var formData = likedButton.closest("div").find(".likeForm").serialize();

            $.ajax({
                type: "POST",
                url: likedButton.closest("div").find(".likeForm").attr("action"),
                data: formData,
                success: function (result) {
                    var currentLikeCount = parseInt(likedButton.text().match(/\d+/)[0]);
                    likedButton.text("Like " + (currentLikeCount - 1));

                    likedButton.removeClass("likedButton").addClass("likeButton");

                    // Saving the updated state to local storage
                    localStorage.setItem('likeButtonState', 'like');
                },
                error: function (error) {
                    console.error("Error submitting like:", error);
                }
            });
        });
    });

</script>